<strong>Olá {{ delivaryman }} </strong>
<p>Há uma nova entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <small>
    Faça a retirada.
  </small>
</p>
